/* ============================
   GLOBAL
   ============================ */

body {
    background: #0c0c0c ; /* Fondo negro */
    color: #f8f1e4; /* Texto claro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #ff7b00;
    text-decoration: none;
}

a:hover {
    color: #d62828;
}

/* ============================
   NAVBAR
   ============================ */

.main-navbar {
    background: #1a1a1a;
    border-bottom: 3px solid #d62828; /* línea roja */
    padding: 0.6rem 1rem;
    box-shadow: 0 2px 8px rgba(214, 40, 40, 0.5);
}

.navbar-logo {
    width: 75px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 4px rgba(255, 123, 0, 0.4)); /* glow naranja */
}

.navbar-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 0.4rem;
    color: #ff7b00;
    text-shadow: 2px 2px 0 #a61010;
}

/* ============================
   CONTENIDO
   ============================ */

.main-content {
    padding: 2rem;
}

/* ============================
   TARJETAS DE SALAS
   ============================ */

.card-sala {
    background: #1a1a1a;
    color: #f8f1e4;
    border: 2px solid #d62828;
    border-radius: 12px;
    padding: 1.3rem;
    transition: transform 0.1s ease-in, box-shadow 0.15s ease-in;
}

/* vibración motosierra on hover */
.card-sala:hover {
    transform: translateY(-4px) rotate(-0.4deg);
    box-shadow: 0 0 15px rgba(255, 123, 0, 0.5), 0 0 5px rgba(214, 40, 40, 0.6);
}


/* ============================
   BOTONES 
   ============================ */

.btn-chainsaw {
    background: #d62828;
    color: #fff;
    border: none;
    padding: 0.55rem 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: transform 0.1s ease-in, background 0.15s ease-in;
}

.btn-chainsaw:hover {
    background: #ff7b00;
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 123, 0, 0.7);
}

.btn-outline-chainsaw {
    border: 2px solid #ff7b00;
    background: transparent;
    color: #ff7b00;
    font-weight: bold;
    padding: 0.55rem 1.2rem;
    border-radius: 8px;
    transition: 0.15s;
}

.btn-outline-chainsaw:hover {
    background: #ff7b00;
    color: #1a1a1a;
    transform: scale(1.05);
}


/* ============================
   ESTADOS Y TEXTOS
   ============================ */

.text-disponible {
    color: #ff7b00;
    font-weight: bold;
}

.text-ocupada {
    color: #d62828;
    font-weight: bold;
}

body {
    background-color: #111 !important;
}
.bg-body-tertiary {
    background-color: #111 !important;
}

.fondo-dark {
    background-color: #111 !important;
}

body {
    background-color: #000 !important;
}



