{% extends 'base.html' %}
{% load static %}

{% block title %}{{ sala.nombre }} - Detalle{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/detalle.css' %}">
{% endblock %}

{% block content %}

<main class="detalle-wrapper">
    
    <div class="detalle-card">

        <h1 class="detalle-title">{{ sala.nombre }}</h1>

        <p class="detalle-capacidad">
            Capacidad Máxima: 
            <span>{{ sala.capacidad }}</span>
        </p>

        {% if sala.sala_disponible is False %}
            <h2 class="estado estado-ocupada">RESERVADA</h2>

            <div class="detalle-reservas">
                {% for reserva in sala.reserva_set.all %}
                    <p><strong>Inicio:</strong> {{ reserva.fecha_hora_inicio }}</p>
                    <p><strong>Fin:</strong> {{ reserva.fecha_hora_fin }}</p>
                {% endfor %}
            </div>

        {% else %}
            <h2 class="estado estado-disponible">DISPONIBLE</h2>

            <a href="{% url 'formulario' %}" class="btn-reservar">
                Reservar Sala
            </a>
        {% endif %}
        <a href="{% url 'main' %}" class="btn-volver">
            Volver al Inicio
        </a>

    </div>

</main>

{% endblock %}
