{% extends "base.html" %}
{% load static %}

{% block title %}Reservar Sala{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block content %}
<main class="main-content">

    <div class="form-overlay">
        <div class="form-container">

            <h2 class="form-title">Nueva Reserva</h2>

            <!-- Errores generales -->
            {% if form.non_field_errors %}
                <div class="form-errors">
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <!-- En caso de estar usando una lista de errores adicional -->
            {% if errores %}
                <div class="form-errors">
                    <ul>
                        {% for error in errores %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form action="{% url 'formulario' %}" method="POST" class="chainsaw-form">
                {% csrf_token %}

                {% for campo in form %}
                <div class="form-group {% if campo.errors %}has-error{% endif %}">
                    <label for="{{ campo.id_for_label }}" class="form-label">
                        {{ campo.label }}
                    </label>
                    
                    {{ campo }}

                    {% if campo.errors %}
                    <div class="field-error">
                        {% for error in campo.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}

                <button type="submit" class="btn-chainsaw mt-3">Reservar</button>

            </form>
             <a href="{% url 'main' %}" class="btn-volver">
                Volver al Inicio
            </a>
        </div>
    </div>

</main>
{% endblock %}
