{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}

<div class="container-hero">
        <div class="login-card">
            <h1>Iniciar sesión</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Usuario</label>
                    <input type="text" name="username" id="inputUsername" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Contraseña</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                <a href="{% url 'welcome' %}" class="btn btn-secondary ms-2">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}