{% extends "base.html" %}
{% load static %}

{% block title %}Reserva de Salas{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/main.css' %}">{% endblock %}

{% block content %}
<main class="main-content">

    <section class="salas-container py-4">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

                {% for sala in salas %}
                <div class="col">
                    <div class="card-sala">

                        <h3 class="sala-nombre">{{ sala.nombre }}</h3>

                        {% if sala.sala_disponible %}
                            <p class="text-disponible">Disponible</p>
                            <a href="{% url 'formulario' %}" class="btn-chainsaw mb-2">Reservar</a>
                        {% else %}
                            <p class="text-ocupada">Reservada</p>
                        {% endif %}

                        <a href="{% url 'sala_detalle' sala.id %}" class="btn-outline-chainsaw mt-1">
                            Detalle
                        </a>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

</main>
{% endblock %}
